<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>doc</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>angular</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>coffeescript</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>css</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>d3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>dom</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>dom_events</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>git</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>html</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>http</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>javascript</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>jquery</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>jqueryui</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>lodash</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>php</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>sass</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>backbone</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>c</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>cpp</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>chai</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>cordova</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>ember</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>express</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>go</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>grunt</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>haskell</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>jquerymobile</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>knockout</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>laravel</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>less</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>maxcdn</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>moment</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>node</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>postgresql</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>python</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>redis</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>requirejs</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>ruby</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>rails</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>sinon</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>underscore</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>yii</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>openurl</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
			</dict>
	<key>createdby</key>
	<string>Yannick Galatol</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>devdocs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>openurl</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>doc</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for "{query}"</string>
				<key>title</key>
				<string>DevDocs</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>doc</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>angular</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'angular';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Angular.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Angular.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>angular</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>coffeescript</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'coffeescript';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for CoffeeScript "{query}"</string>
				<key>title</key>
				<string>DevDocs - CoffeeScript</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>coffeescript</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>css</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'css';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for CSS "{query}"</string>
				<key>title</key>
				<string>DevDocs - CSS</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>css</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>d3</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'd3';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for D3.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - D3.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>d3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dom</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'dom';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for DOM "{query}"</string>
				<key>title</key>
				<string>DevDocs - DOM</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dom</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dom_events</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'dom_events';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for DOM Events "{query}"</string>
				<key>title</key>
				<string>DevDocs - DOM Events</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dom_events</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>git</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'git';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Git "{query}"</string>
				<key>title</key>
				<string>DevDocs - Git</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>git</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>html</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'html';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for HTML "{query}"</string>
				<key>title</key>
				<string>DevDocs - HTML</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>html</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>http</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'http';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for HTTP "{query}"</string>
				<key>title</key>
				<string>DevDocs - HTTP</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>http</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>javascript</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'javascript';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for JavaScript "{query}"</string>
				<key>title</key>
				<string>DevDocs - JavaScript</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>javascript</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jquery</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'jquery';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for jQuery "{query}"</string>
				<key>title</key>
				<string>DevDocs - jQuery</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>jquery</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jqueryui</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'jqueryui';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for jQuery UI "{query}"</string>
				<key>title</key>
				<string>DevDocs - jQuery UI</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>jqueryui</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>lodash</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'lodash';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Lo-Dash "{query}"</string>
				<key>title</key>
				<string>DevDocs - Lo-Dash</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>lodash</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>php</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'php';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for PHP "{query}"</string>
				<key>title</key>
				<string>DevDocs - PHP</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>php</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sass</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'sass';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Sass "{query}"</string>
				<key>title</key>
				<string>DevDocs - Sass</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>sass</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>backbone</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'backbone';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Backbone.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Backbone.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>backbone</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>c</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'c';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for C "{query}"</string>
				<key>title</key>
				<string>DevDocs - C</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>c</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cpp</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'cpp';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for C++ "{query}"</string>
				<key>title</key>
				<string>DevDocs - C++</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>cpp</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>chai</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'chai';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Chai "{query}"</string>
				<key>title</key>
				<string>DevDocs - Chai</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>chai</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cordova</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'cordova';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Cordova "{query}"</string>
				<key>title</key>
				<string>DevDocs - Cordova</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>cordova</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ember</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'ember';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Ember.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Ember.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ember</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>express</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'express';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Express "{query}"</string>
				<key>title</key>
				<string>DevDocs - Express</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>express</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>go</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'go';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Go "{query}"</string>
				<key>title</key>
				<string>DevDocs - Go</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>go</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>grunt</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'grunt';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Grunt "{query}"</string>
				<key>title</key>
				<string>DevDocs - Grunt</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>grunt</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>haskell</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'haskell';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Haskell "{query}"</string>
				<key>title</key>
				<string>DevDocs - Haskell</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>haskell</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jquerymobile</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'jquerymobile';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for jQuery Mobile "{query}"</string>
				<key>title</key>
				<string>DevDocs - jQuery Mobile</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>jquerymobile</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>knockout</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'knockout';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Knockout.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Knockout.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>knockout</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>laravel</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'laravel';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Laravel "{query}"</string>
				<key>title</key>
				<string>DevDocs - Laravel</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>laravel</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>less</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'less';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Less "{query}"</string>
				<key>title</key>
				<string>DevDocs - Less</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>less</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>maxcdn</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'maxcdn';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for MaxCDN "{query}"</string>
				<key>title</key>
				<string>DevDocs - MaxCDN</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>maxcdn</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>moment</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'moment';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Moment.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Moment.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>moment</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>node</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'node';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Node.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Node.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>node</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>postgresql</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'postgresql';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for PostgreSQL "{query}"</string>
				<key>title</key>
				<string>DevDocs - PostgreSQL</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>postgresql</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>python</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'python';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Python "{query}"</string>
				<key>title</key>
				<string>DevDocs - Python</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>python</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>redis</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'redis';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Redis "{query}"</string>
				<key>title</key>
				<string>DevDocs - Redis</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>redis</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>requirejs</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'requirejs';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for RequireJS "{query}"</string>
				<key>title</key>
				<string>DevDocs - RequireJS</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>requirejs</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ruby</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'ruby';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Ruby "{query}"</string>
				<key>title</key>
				<string>DevDocs - Ruby</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ruby</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>rails</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'rails';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Ruby on Rails "{query}"</string>
				<key>title</key>
				<string>DevDocs - Ruby on Rails</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>rails</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sinon</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'sinon';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Sinon "{query}"</string>
				<key>title</key>
				<string>DevDocs - Sinon</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>sinon</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>underscore</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'underscore';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Underscore.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Underscore.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>underscore</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>yii</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'yii';
require_once("devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Yii "{query}"</string>
				<key>title</key>
				<string>DevDocs - Yii</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>yii</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
			</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>doc</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
						<key>angular</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
				<key>coffeescript</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
				<key>css</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
				<key>d3</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
				<key>dom</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
				<key>dom_events</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
				<key>git</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
				<key>html</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
				<key>http</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
				<key>javascript</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
				<key>jquery</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
				<key>jqueryui</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
				<key>lodash</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
				<key>php</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
				<key>sass</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
				<key>backbone</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
				<key>c</key>
		<dict>
			<key>ypos</key>
			<real>1710</real>
		</dict>
				<key>cpp</key>
		<dict>
			<key>ypos</key>
			<real>1810</real>
		</dict>
				<key>chai</key>
		<dict>
			<key>ypos</key>
			<real>1910</real>
		</dict>
				<key>cordova</key>
		<dict>
			<key>ypos</key>
			<real>2010</real>
		</dict>
				<key>ember</key>
		<dict>
			<key>ypos</key>
			<real>2110</real>
		</dict>
				<key>express</key>
		<dict>
			<key>ypos</key>
			<real>2210</real>
		</dict>
				<key>go</key>
		<dict>
			<key>ypos</key>
			<real>2310</real>
		</dict>
				<key>grunt</key>
		<dict>
			<key>ypos</key>
			<real>2410</real>
		</dict>
				<key>haskell</key>
		<dict>
			<key>ypos</key>
			<real>2510</real>
		</dict>
				<key>jquerymobile</key>
		<dict>
			<key>ypos</key>
			<real>2610</real>
		</dict>
				<key>knockout</key>
		<dict>
			<key>ypos</key>
			<real>2710</real>
		</dict>
				<key>laravel</key>
		<dict>
			<key>ypos</key>
			<real>2810</real>
		</dict>
				<key>less</key>
		<dict>
			<key>ypos</key>
			<real>2910</real>
		</dict>
				<key>maxcdn</key>
		<dict>
			<key>ypos</key>
			<real>3010</real>
		</dict>
				<key>moment</key>
		<dict>
			<key>ypos</key>
			<real>3110</real>
		</dict>
				<key>node</key>
		<dict>
			<key>ypos</key>
			<real>3210</real>
		</dict>
				<key>postgresql</key>
		<dict>
			<key>ypos</key>
			<real>3310</real>
		</dict>
				<key>python</key>
		<dict>
			<key>ypos</key>
			<real>3410</real>
		</dict>
				<key>redis</key>
		<dict>
			<key>ypos</key>
			<real>3510</real>
		</dict>
				<key>requirejs</key>
		<dict>
			<key>ypos</key>
			<real>3610</real>
		</dict>
				<key>ruby</key>
		<dict>
			<key>ypos</key>
			<real>3710</real>
		</dict>
				<key>rails</key>
		<dict>
			<key>ypos</key>
			<real>3810</real>
		</dict>
				<key>sinon</key>
		<dict>
			<key>ypos</key>
			<real>3910</real>
		</dict>
				<key>underscore</key>
		<dict>
			<key>ypos</key>
			<real>4010</real>
		</dict>
				<key>yii</key>
		<dict>
			<key>ypos</key>
			<real>4110</real>
		</dict>
			</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>