<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>addtask</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dotaskbasedoncommand</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>removetask</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dotaskbasedoncommand</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>replacetask</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dotaskbasedoncommand</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dotaskbasedoncommand</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>shownotificationwhencomplete</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>angular</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>output</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
				<key>backbone</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>output</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
			</dict>
	<key>createdby</key>
	<string>Yannick Galatol</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>devdocs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>doc</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
require_once("scripts/devdocs.php");</string>
				<key>subtext</key>
				<string>Search for "{query}"</string>
				<key>title</key>
				<string>DevDocs</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>docglobal</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cdoc:list</string>
				<key>script</key>
				<string>$query = "list {query}";
require_once("scripts/conf.php");</string>
				<key>title</key>
				<string>List available docs on DevDocs workflow</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>listtask</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>shownotificationwhencomplete</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cdoc:add</string>
				<key>script</key>
				<string>$query = "add {query}";
require_once("scripts/conf.php");</string>
				<key>title</key>
				<string>Add a doc on DevDocs workflow</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>addtask</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>//Should do action based on query</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>dotaskbasedoncommand</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cdoc:remove</string>
				<key>script</key>
				<string>$query = "remove {query}";
require_once("scripts/conf.php");</string>
				<key>title</key>
				<string>Remove a doc on DevDocs workflow</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>removetask</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>$data = "{query}";
require_once("scripts/output.php");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>output</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>doc</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
require_once("scripts/devdocs.php");</string>
				<key>subtext</key>
				<string>Search for "{query}"</string>
				<key>title</key>
				<string>DevDocs</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>doc</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cdoc:refresh</string>
				<key>script</key>
				<string>$query = "refresh {query}";
require_once("scripts/conf.php");</string>
				<key>title</key>
				<string>Refresh docs on DevDocs workflow</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>replacetask</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>angular</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'angular';
require_once("scripts/devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Angular.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Angular.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>angular</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
				<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>backbone</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>$query = "{query}";
$documentation = 'backbone';
require_once("scripts/devdocs.php");</string>
				<key>subtext</key>
				<string>Search for Backbone.js "{query}"</string>
				<key>title</key>
				<string>DevDocs - Backbone.js</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>backbone</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
			</array>
	<key>uidata</key>
	<dict>
		<key>docglobal</key>
		<dict/>
		<key>addtask</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>doc</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>dotaskbasedoncommand</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>listtask</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>output</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>removetask</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>replacetask</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>shownotificationwhencomplete</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
						<key>angular</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
				<key>backbone</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
			</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>